body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  user-select: none;
}

#menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background: #e69366;
  -webkit-app-region: drag;
  padding: 0 10px;
  font-family:PixeBoy;
  font-size: 14px;
  letter-spacing: 2px;
}

#menu-bar > div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.menubar-btn {
  -webkit-app-region: no-drag;
}
.container {
    color: #000;
    padding: 20px;
    font-family: Pixelify Sans;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 1px;
}

button {
  height: 100%;
  padding: 0 15px;
  border: none;
  background: transparent;
  outline: none;
}

button:hover {
  background: rgba(221, 221, 221, 0.2);
}

#close-btn:hover {
  background: rgb(255, 0, 0);
}

button i {
  color: white;
}
